$primary: rgb(13, 16, 49);
$secondary: rgb(255, 172, 129);
$accent: rgb(195, 247, 58);
$white_transparent: rgba(236, 236, 236, 0.7);
$white: rgb(255, 255, 255);

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin hide-scrollBar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar{
    display: none;
  }
}
